---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.vue";
---

<BaseLayout pageTitle="Contact">
	<h1>Contact</h1>
	<ContactForm client:vue />
</BaseLayout>
